<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Record Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button (click)="startContinuousRecognition()">Record Message</ion-button>
    <ion-button (click)="stopRecognition()">Stop Message</ion-button>
  </div>
  
  <ion-card>
    <ion-card-header>Your Text Message</ion-card-header>
    <ion-card-content>
      <p>{{responseMessage}}</p>
      <ion-list>
        <ion-item *ngFor="let match of matches">
          {{ match }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
