<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Dashboard</h1>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>DigiVault</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/imgs/Card-images.png" width="100%">
      Digi Vault Subscription: Feature 1
    </ion-card-content>
  </ion-card>

  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>BoundlessExpression</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Boundless Expression Subscription: Feature 2
    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>EBS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      EBS Subscription: Feature 3
    </ion-card-content>
  </ion-card>

  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>ManageSubscription</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Manage Subscription: View | Modify
    </ion-card-content>
  </ion-card>
</ion-content>